
<p><button (click)="getMsg()">Click</button></p>

<p><button (click)="transferValue()">send value to widgetComponent1</button></p>


------------------------------------



<ng-template #loadComponent>
    
</ng-template>


--------------------------
*****************************

<ng-container *ngFor="let shape of widgetClassesArr">
    
    <ng-container *ngComponentOutlet="shape">
        
    </ng-container>
</ng-container>
*********************************

<p><button (click)="getMsg1()">Click</button></p>
{{getMsgText}}

<ng-container *ngFor="let shape of widgetClassesArr">
    <ndc-dynamic
    [ndcDynamicComponent]="shape"
    [ndcDynamicOutputs]="{
        widget_display: { handler: doSomething, args: ['$event', tplVar] }
    }"
  ></ndc-dynamic>
<!-- <ng-template [ngComponentOutlet]="shape"
                           [ndcDynamicInputs]="inputs"
                           [ndcDynamicOutputs]="outputs"
                           ></ng-template> -->
                           </ng-container>

<!-- <enl-widget-app-lib2>
  
</enl-widget-app-lib2>
 -->

