<p><button (click)="getMsg()">Click</button></p>

<p><button (click)="transferValue()">send value to widgetComponent1</button></p>


------------------------------------<br>
using ng template<br>


<!-- <ng-template #loadComponent>

</ng-template> -->

<br>
--------------------------<br>
*****************************<br>
using ng container<br>
<!-- 
<ng-container *ngFor="let shape of widgetClassesArr">

<ng-container *ngComponentOutlet="shape">

</ng-container>
</ng-container><br> -->
*********************************<br>

<!-- <p><button (click)="getMsg1()">Click</button></p>
{{getMsgText}} -->
==============================================<br>
using ng dynamic npm <br>



<div *ngIf="widgetClassesArr.length > 0">

    <ng-container *ngFor="let shape of widgetClassesArr">
        <br>
{{shape.widgetSelector}}
<br>
        <ndc-dynamic [ndcDynamicComponent]="shape.widgetComponent" [ndcDynamicInputs]="inputs" [ndcDynamicOutputs]="{
widget_display: { handler: doSomething, args: ['$event', tplVar] },
widget_display1: { handler: doSomething1, args: ['$event', tplVar]}
}">
        </ndc-dynamic>



    </ng-container>

</div>
<!-- <enl-widget-app-lib2>

</enl-widget-app-lib2>
-->